.AcercaDelProyecto{
    display: flex;
    border-radius: 10%;
    background-color: #F0BB69;
    padding: 60px 60px; 
    width: 90%;
    padding: 10px 10px;
    box-shadow: 0px 5px 15px rgba(46, 23, 8, 0.5);
    font-family:"Roboto", sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    top: 80%;
    text-align: justify;
    z-index: 0;
}

h2::before{
    content: "🦮";
}


img{
    display: flex;
    width: 150px;
    justify-content: right;
    text-align: right;
    position: absolute;
    z-index: 2;
    top: -122px;

}
p{
    text-align: left;
    display: flex;
    width: 70%;

}
.titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    }
