:root {
    --color-tertiary: #F0BB69; 
}

*{
    margin: 0;
    padding: 0;
}

.Contenedor-Carrousell{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}


.Elemento-lista{
    list-style: none; /*Quita la viñeta de lista*/
    border: green solid;
}

.Lista-desordenada {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 16px);
    gap: 16px;
    overflow: none;
}
.Lista-desordenada {

    animation: slide 10s infinite; 
    width: 100%;
    height: auto;
    margin: 0;
    overflow: none;
    position: relative;
}

.Tarjeta-miembro{
    background: var(--color-tertiary);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
}

.Tarjeta-miembro img{
    width: 148 px;
    height: 148px;
    border-radius: 100%;
}

/* ANIMACION CARROUSEL */


@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
   
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

    100% {margin-left: -400%;}
    120% {margin-left: -400%;}

    125% {margin-left: -500%;}
    145% {margin-left: -500%;}
   
    150% {margin-left: -600%;}
    170% {margin-left: -600%;}
   
    175% {margin-left: -700%;}
    195% {margin-left: -700%;}
   
    200% {margin-left: -800%;}
    220% {margin-left: -800%;}
   
    225% {margin-left: -900%;}
    245% {margin-left: -900%;}
}