:root {
    --background: #fff8e0;
    --primary: #39b3a2;
    --secondary: #7f636e;
    --yellow: #f0bb69;
    --white: #ffffff;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    color: black;
    background-color: #FFF8E0;
    justify-content: center;
    align-items: center;
}
h1{
    font-family:"Sansita", sans-serif;
}

.color-titulo {
    color: black;
}


.nombre-dueño-registrado {
    font-family:"Sansita", sans-serif;
    font-size: 2.3rem;
    text-align: center;
    margin: .5rem;
    padding: 0.5rem;
}

.container-alinearr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-monto {
    border:none;
    color: white;
    border-radius: 0.5rem;
    width: 31rem; 
    height: 16rem;
    text-align: center;
    gap: 1rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    background-color: #44A194;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    
}

.container-form{
    margin: 3rem;
    color: white;
}

.form-tipo-tarjeta {
    background-color: #f0bb69;
    max-width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    justify-content: center; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    flex-direction: row; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    width: 20rem;
    

}

/* Desktops grandes (mayor a 75rem) */
@media (max-width: 75rem) {
    .nombre-dueño-registrado {
        font-size: 2.3rem;
    }

    .container-monto {
        width: 500px;
        height: 16rem;
        margin: 3rem;
        font-size: smaller;
    }

    .form-tipo-tarjeta {
        width: 20rem;
        max-width: 20rem;
    }

    .paypalpago, .tyc {
        margin: 5rem;
        font-size: medium;
    }
}

.form-tipo-tarjeta label {
    display: block;
    margin: none;
}    

.form-tipo-tarjeta input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: .5rem;
}

.form-tipo-tarjeta button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-tipo-tarjeta button[type="submit"] {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    border-radius: 4px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
}


.form-tipo-tarjeta button[type="submit"]:hover {
    background-color: #7f636e;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background: linear-gradient(145deg, #7f636e, #7f636e);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3),-4px -4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);

}

.form-tipo-tarjeta button[type="submit"]:active {
    background: linear-gradient(145deg, #7f636e, #7f636e);
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3), inset -4px -4px 8px rgba(255, 255, 255, 0.4);
    transform: translateY(2px);   
}

.pop-up-dueño {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none; /* Oculto por defecto */
    z-index: 1000;
}

.button2 {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 1rem;
    width: 100%;
}

.center-placeholder2 {
    text-align: center;
}

.center-placeholder2 {
    padding: .5rem;
    font-size: 1rem;
}

.input-feedback {
    font-size: small;
}

/***********otros medios de pago************/

.iconos-pago-dueño {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center; 
    align-items: center;   
    height: 15vh;         
}


.contenedor-principal-iconos-dueño{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    gap: none;
}

.otros-medios-pago-dueño-pp {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    margin: 2rem;
    height: 5vh; 
}

.otros-medios-pago-dueño-ii {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    width: 20rem;
    height: 20vh; 
    gap: 0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamaño-de-iconos-dueño-primarios {
    max-width: 7%;
    size: 1rem;

}

.tamaño-de-iconos-dueño-secundarios {
    max-width: 25%;
    size: 1rem;
    width: 3.125rem;

}


.tyc {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    margin: 4rem;
}

/**********************************estilos de header*****************************/

.navbar {
    background-color: #44A194; /* Color del fondo del menú */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilos para el logo */
.logo img {
    width: 200px; /* Reducido para hacer el logo más pequeño */
    height: auto; /* Ajusta automáticamente la altura proporcionalmente */
}   

/* Menú de navegación */
.navbar--menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbar--menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.letras{
    font-size:25px;
    text-align: right;
    
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Botones de la barra de navegación */
.navbar--botones {
    display: flex;
    gap: 10px;
    border: 0px;
}

.boton--azul {
    padding: 8px 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
 
}

.boton--claro {
    background-color: #65B5A1;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    font-family: "Sansita";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
   
}

.boton--azul {
    background-color: #124C5F;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    font-family: "Sansita";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
  
}

/* Estilo del ícono del menú hamburguesa */
.menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none; /* Oculto por defecto, se muestra en móviles */
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.menu-icon .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

/* Menú desplegable */
.dropdown-menu {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #2B4453;
    position: absolute;
    top: 88px;
    padding:10px;
    right: 20px;
    width: 250px;
    display: none;
    border-radius: 10px;
    z-index: 1000; /* Asegura que el menú se muestre encima */
}

.dropdown-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.dropdown-menu ul li {
    margin: 10px 5px 10PX 5px;
    justify-content: center;
   
    justify-content: center;
    text-align: center;
    align-items: center;
}



.dropdown-menu ul li a {
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #357D7E;
    text-align: center;
}

.dropdown-menu ul li a:hover {
    background-color: #4AA09A;
}

/* Mostrar el menú desplegable cuando esté activo */
.show-menu {
    display: block;
    
    justify-content: center;
    text-align: center;
    align-items: center;
}
a{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding:5px;
}

#dropdown-nenu{
    
    justify-content: center;
    text-align: center;
    align-items: center;
}



/* Estilo para "Acerca de nosotros" y "Preguntas Frecuentes" como texto simple */
.dropdown-menu ul li:nth-child(1) a,
.dropdown-menu ul li:nth-child(2) a {
    background-color: transparent;
    padding: 0;
    text-align: left;
}

/* Medios responsive */
@media (max-width: 900px) {
    .navbar--menu,
    .navbar--botones {
        display: none; /* Oculta el menú y botones en pantallas pequeñas */
    }
    
    .menu-icon {
        display: flex; /* Muestra el ícono del menú hamburguesa */
    }
    
    .dropdown-menu.active {
        display: block; /* Muestra el menú desplegable cuando esté activo */
    }
}

/***********************estilos de footer************************/


.footer--safeDog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #44A194;
    padding: 20px;
    margin: 0;
    flex-wrap: wrap;
    color: #ffffff;
    text-align: center;
}

.footer--info{
    display: flex;
    flex-direction:column;
    gap: 10px;
    padding: 0;
    margin: 0;
    
}

.footer--info .footer--question{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    
}
.footer--info ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.footer--info li{
    margin: 0;
}

.footer--info a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer--info .footer--list li a:hover{
    color: #F0BB69;
}

.footer--logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.footer--logo img{
    height: 200px;
    width: 150px;

}



.iconos img {
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: 100px; /* Ajusta el tamaño según lo necesites */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}

.iconos img{
    width: 50px;
    height: 50px;
}
.iconos .logo--fb{
    width: 58px;
    height: 48px;
}

.iconos .logo--insta{
    width: 60px;
    height: 50px;
}


.footer--copy{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: -10px;
   
}

.footer--copy h4{
    width: 100%;
    text-align: center;
    margin-top: 20px;
 
  
}



@media(max-width: 600px){
    .footer--safeDog{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer--logo {
        margin: 30px 0;
        text-align: center;
    }

    .footer--info ul{
        align-items: center;
    }

    .footer--copy{
        margin-top: 10px;
        text-align: center;
        align-items: center;
    
    }
} /*FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

/*medias queries*/

