
body {
    background-color: #FFF8E0 !important;
    font-family: 'Roboto', sans-serif;
}

h3, h5 {
    font-family: 'Sansita', sans-serif;
}

.card {
    padding: 40px;
    background-color: #F0BB69;
}

.custom-padding {
    padding: 20px;
}

.btn-custom {
    background-color: #44A194;
}

.btn-custom:hover {
    background-color: #7F636E;
}

.custom-list-group .list-group-item {
    background-color: #44A194;
}

.custom-list-group .list-group-item.active {
    background-color: #7F636E;
}

.custom-list-group .list-group-item:hover {
    background-color: #F0BB69;
}

.custom-label, .custom-paragraph, .custom-body, .custom-header, p, .form-control {
    font-size: 16px;
}

.card-img-top {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Media queries for small screens (phones) */
@media (max-width: 576px) {
    .custom-label, .custom-paragraph, .custom-body, .custom-header, p {
        font-size: 18px; /* Increase font size for better readability */
    }

    .form-control {
        font-size: 18px; /* Larger input text */
    }

    .card {
        padding: 20px; /* Reduce padding for small screens */
    }

    .btn-custom {
        font-size: 18px; /* Increase button font size */
    }
}
