
body{
    background-color: #FFF8E0;
    font-family: "sansita", "roboto";
    margin: 0;
    padding: 0;
    
}


.footer--safeDog{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #44A194;
    padding: 20px;
    flex-wrap: wrap;
    color: #ffffff;
    

}

.footer--info ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.footer--info li{
    margin: 0;
    

}
.footer--info a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer--info .footer--list li a:hover{
    color: #F0BB69;
}

.footer--logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
}

.footer--logo img{
    height: auto;
    width: 200px;
}


.iconos{
    display: flex;
    gap: 20px;
    
}

.iconos img{
    width: 60px;
    height: 60px;
}

.footer--copy{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}



@media(max-width: 600px){
    .footer--safeDog{
        flex-direction: column;
        align-items: center;
    }

    .footer--logo {
        margin: 30px 0;
        text-align: center;
    }

    .footer--info ul{
        align-items: center;
    }

    .footer--copy{
        margin-top: 10px;
    }
}



