:root {
        /* Color de fondo */
        --bg-color: #FFF8E0;
        /* Colores primarios */
            --color-primary: black;
            --color-secondary: #44A194;
            --color-tertiary: #F0BB69;
            --color-cuarto: #7F636E;
        
        /* --------------------------------- */
        /* Letra */
        
        /* Color de letra */
            --font-color-w: white;
            --font-color-b: black;
            
        /* Tipo de letra */
            --font-primary: "Sansita", sans-serif;
            --font-secondary: "Roboto", sans-serif;
            --font-size-primary: 5rem;
            --font-size-secondary: 2 rem;
 }
    
    
 body {
        background-color: var(--bg-color);
        margin: 0;
        padding: 0;
        font-family:var(--font-secondary);
}
    
body h2 h1 h3 h4 h5 {
    font-family: 'Sansita', sans-serif !important;
    }
       
.form-control .label {
    font-family: 'Roboto', sans-serif;
}

.input-group-text{
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}


.btn--form {
    background-color: var(--color-tertiary);
    color: #fff;
    align-self: end;
    padding: 2rem 5rem;
    margin: 2rem;
  }

.form-control:focus{
    outline: none;
    border-color: var(--color-tertiary);
    box-shadow: 0 0 0 0.3rem var(--color-tertiary);
  }

  .btn--form:focus{
    border:none;
    box-shadow: none;
  }

  .btn--save {
    background-color: var(--secondary);
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }
  
  .btn--save:hover,
  .btn--form:hover {
    background-color: #fff;
    color: #555;
  }
  
  .btn--shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
      /* Sombra externa */ inset 1px 1px 3px rgba(255, 255, 255, 0.3); /* Sombra interna */
    transition: all 0.3s ease;
    button:active {
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3),
        /* Más sombra interna */ none; /* Sin sombra externa */
    }
  }
  


  .button--submit {
    display: flex;
    justify-content: flex-end;
  }

.form--grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10rem;
  }

  #container-Input-Pequeño{
    width: 20rem;
}
/* Formato para el selector de razas de perros */

.container, .section--up--img{
    border:blue solid;
}


.section--up--img {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .all--up--img {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  
  .up--img--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  
  .img--img{
    width: 25rem;
  }
  

.tamañoPerro{
justify-content: center;
    display: flex;
    align-items:center;
}

.tamañoPerro img{
    padding: 10px;
}

.razasDePerros{
padding: 10px;
}

.razaPerro{
    padding: 20px;
}

