:root {
        /* Color de fondo */
        --bg-color: #FFF8E0;
        /* Colores primarios */
            --color-primary: black;
            --color-secondary: #44A194;
            --color-tertiary: #F0BB69;
            --color-cuarto: #7F636E;
        
        /* --------------------------------- */
        /* Letra */
        
        /* Color de letra */
            --font-color-w: white;
            --font-color-b: black;
            
        /* Tipo de letra */
            --font-primary: "Sansita", sans-serif;
            --font-secondary: "Roboto", sans-serif;
            --font-size-primary: 5rem;
            --font-size-secondary: 2 rem;

            --colorPrimaryNormal: #00b3bb;
            --colorPrimaryDark: #00979f;
            --colorPrimaryGlare: #00cdd7;
            --colorPrimaryHalf: #80d9dd;
            --colorPrimaryQuarter: #bfecee;
            --colorPrimaryEighth: #dff5f7;
            --colorPrimaryPale: #f3f5f7;
            --colorPrimarySeparator: #f3f5f7;
            --colorPrimaryOutline: #dff5f7;
            --colorButtonNormal: #00b3bb;
            --colorButtonHover: #00cdd7;
            --colorLinkNormal: #00979f;
            --colorLinkHover: #00cdd7;
 }
    
    
 body {
    
        flex-direction: column;
        background-color: var(--bg-color);
        margin: 0;
        padding: 0;
        font-family:var(--font-secondary);
    }
    
body h2 h1 h3 h4 h5 {
    font-family: 'Sansita', sans-serif !important;
    }
       
.file-upload{
    position: relative;
    
}

.form-control .label {
    font-family: 'Roboto', sans-serif;
}

.input-group-text{
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-family: 'Sansita', sans-serif;
    padding: 20px;
}

h2 {
    font-family: 'Sansita', sans-serif;
    padding: 20px;
}

h4 {
    font-family: 'Sansita', sans-serif;
    padding: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}


.btn--form {
  background-color: var(--color-tertiary);
  color: #fff;
  align-self: end;
  padding: 2rem 5rem;
}


.form--imput--item input:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem var(--color-tertiary);
}


/* Formato para el selector de razas de perros */

  .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
  }
  .custom-radio .custom-control-label::before {
    border-radius: 50%;
  }
